[alias]
    fixup = !git commit --fixup HEAD && GIT_SEQUENCE_EDITOR=true git rebase --autostash --autosquash -i HEAD~2
[core]
    editor = cursor --wait
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential
[init]
    defaultBranch = main
[user]
    name = Naki
    email = nbsp1221@gmail.com
